
.grid-container{
    display: grid;
    grid-template-columns: repeat(24,1fr);

}
.col-24{
    
    border: 1px solid black;
    grid-column: span 24;
    display:grid;
    grid-template-columns: subgrid;
}

.col-20{
    border: 1px solid black;
    grid-column: span 20;
    display:grid;
   
}
.col-16{

    border: 1px solid black;
    grid-column: span 16;
    display:grid;
    
}
.col-12{
    border: 1px solid black;
    grid-column: span 12;
    display:grid;
   
    
}
.col-8{
    border: 1px solid black;
    grid-column: span 8;
    display:grid;
    

}
.col-6{
    border: 1px solid black;
    grid-column: span 6;
    display:grid;
   
  
}
.col-4{
    border: 1px solid black;
    grid-column: span 4;
    display:grid;
     
   
}
.sub{
    display: grid;
    grid-template-columns: subgrid;
}