.grid-container {
  display: grid;
  grid-template-columns: repeat(24, 1fr);
}

.col-24 {
  border: 1px solid black;
  grid-column: span 24;
}

.col-20 {
  border: 1px solid black;
  grid-column: span 20;
}

.col-16 {
  border: 1px solid black;
  grid-column: span 16;
}

.col-12 {
  border: 1px solid black;
  grid-column: span 12;
}

.col-8 {
  border: 1px solid black;
  grid-column: span 8;
}

.col-6 {
  border: 1px solid black;
  grid-column: span 6;
}

.col-4 {
  border: 1px solid black;
  grid-column: span 4;
}

.sub {
  display: grid;
  grid-template-columns: subgrid;
}

.gap {
  gap: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.color {
  grid-column: span 8;
}

.wi {
  grid-column: auto;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.center div nav ul {
  display: flex;
  list-style-type: none;
}
.center li a {
  text-decoration: none;
  padding: 5px;
}
.center .redes {
  display: none;
}

.navleft {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.navleft .nav {
  align-self: start;
}
.navleft div nav ul {
  display: flex;
  flex: 1 0 auto;
  list-style-type: none;
}
.navleft li a {
  text-decoration: none;
  padding: 5px;
}
.navleft .redes {
  display: none;
}

.navright {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.navright .nav {
  align-self: end;
}
.navright div nav ul {
  display: flex;
  list-style-type: none;
}
.navright li a {
  text-decoration: none;
  padding: 5px;
}
.navright .redes {
  display: none;
}

.lognav {
  margin: 10px;
  padding: 10px;
  display: flex;
  align-items: center;
}
.lognav .nav {
  display: flex;
  flex: 1 1 auto;
}
.lognav div nav ul {
  display: flex;
  margin-left: 10px;
  list-style-type: none;
}
.lognav li a {
  text-decoration: none;
  padding: 5px;
}
.lognav .redes {
  align-content: flex-end;
}

.lognav2 {
  margin: 10px;
  padding: 10px;
  display: flex;
  align-items: center;
}
.lognav2 .h1 {
  flex: 0 0 auto;
}
.lognav2 .nav {
  flex: 1;
}
.lognav2 div nav ul {
  display: flex;
  justify-content: center;
  margin-left: 10px;
  list-style-type: none;
}
.lognav2 li a {
  text-decoration: none;
  padding: 5px;
}

.position {
  display: flex;
}
.position article {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
}
.position article h2 {
  position: absolute;
  left: 45%;
}
.position article p {
  position: absolute;
  bottom: 0;
}

.etiquetas {
  margin-top: 15px;
  overflow: hidden;
}
.etiquetas article {
  border: 2px solid;
  grid-column: span 6;
}
.etiquetas article div {
  width: 100%;
  height: 100%;
  background-color: antiquewhite;
  position: relative;
}
.etiquetas article div p {
  position: absolute;
  top: 0;
}
.etiquetas article div span {
  display: none;
}
.etiquetas article div a {
  position: absolute;
  bottom: 0;
  left: 30%;
}
.etiquetas article div img {
  z-index: -4;
  width: 100%;
  height: 100%;
}

.etiquetas article:hover div {
  background-color: black;
  opacity: 0.7;
  position: relative;
}
.etiquetas article:hover div p {
  position: absolute;
  top: 0;
}
.etiquetas article:hover div span {
  display: block;
  position: absolute;
  bottom: 50%;
  left: 20%;
  font-size: 30px;
}

/*# sourceMappingURL=style.css.map */
